div{
    height: 100px;
    width: 50px;
    background-color: rgb(144, 144, 158);
    border: 2px red solid;
    /* animation-name:colorAnimate ;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal; */
    animation: colorAnimate 2s 2s 0s 3 normal ;
}


@keyframes colorAnimate{
    from{left: 21px; }
    to{left: 200px;}
    
}